#supreme{
    display: flex;
    margin-top: 20px;
}
html, body {
    background-color: black;
}
#wimg{
    height: 300px;
    width: 100%;
    
    
}#image{
    height: 100%;
    width:100%
}input{
    margin-top: 10px;
    margin-left: 35%;
    font-size: large;
    font-weight: bold;
    font-size: large;
    font-weight: bold;
}#but{
    margin-left: 35%;
    margin-top: 10px;
    padding: 3px 10px 3px 10px;
    background-color: aqua;
    color: red;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
}#bu{
    padding: 3px 10px 3px 10px;
    background-color: aqua;
    color: red;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
}#container{
   margin-left: 10%;
   color: aliceblue;
}#box{
   
    margin-left: 20%;
}img{
  
    width: 300px;
    height: 200px;
}h1,h3,h4{
    margin-top: -20px;
}
@media screen and (max-width: 600px) {
    #supreme{
        display: grid;
        margin-top: 20px;
    }
  }